/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 1px lightgrey solid;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
/* Meyer Reset, and other imported code ends here */

:root{
    --action-button-color: hsl(8, 91%, 46%);
    --complementary-color: #6c8f00;
    --complementary-color-shade: #95b632;
    --nav-button-color: hsl(30, 22%, 73%);
    --nav-text-color: hsl(100, 100%, 99%);
    --bold-accent-text: rgb(23, 98, 18);
    --primary-color: #edf1e4;
    --standard-margin: 0 0 1.5rem 0;
    --background-color-action: hsl(15, 5%, 90%);
}


/* Universal Styling */

* {
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /* 62.5% font-size initialized for rem units */
    scroll-behavior: smooth;
}
.body{
    width: 100vw;
}
.body__div{
    background:var(--primary-color);
    width: 95vw;
    height: auto;
    margin: auto; 
    display: flex;
    flex-direction: column;
}
.container__div-to-the-top{
    background-color: var(--nav-button-color);
    display: none;
}
#top-of-page{
    background: var(--nav-button-color);
}
/* Header Styling */
.header {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    background: var(--nav-button-color);
    width: 100%;
    height: 100vh;
}
.header__logo-div{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.header__logo{
    display: inline-block;
    align-self: flex-start;
    width: 10%;
    height: auto;
    background: var(--nav-button-color);
}
.header__h1{
    color: var(--bold-accent-text);
    padding: 0 0 0 5rem;
    font-size: 8.5rem;
    font-weight: bolder;
}

.header__nav{
    align-self: flex-start; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width:100%;
}
.menu__div{
    font-size: 7.7rem;
    font-weight: 900;
    color: var(--action-button-color);
}
.menu__div-1{
    justify-self:center;
    
}
.menu__div-2{
    align-self: center;
}
.menu__div-3{
    /* justify-self: center; */
    /* align-self: flex-start; */
}
.header-menu__a{
    size: 100%;
    text-decoration: none;
    color: var(--complementary-color);
}
.header-menu__item{
    display: none;
    background: var(--action-button-color);
    font-size:6rem;
    text-decoration: none;
    text-align: center;
    color: var(--nav-text-color);
    border: 0.075em var(--nav-text-color) solid;
    align-self: flex-end; 
    justify-self:flex-end;
}
.header-menu__item-even{
    align-self:center; 
    justify-self: center;
}
.header-menu__contact{
    align-self:flex-start; 
}
.header__nav-text--hidden{
    display: none;
}
.header-menu__register{
    display:none;
}
.menu__item-hidden{
    display: none;
}

.header-menu__icon{
    width: 23rem;
    height: 23rem;
}
.header-menu__item:hover{
    transition: 750ms;
    background: var(--complementary-color);
}
.menu__icon-register{
    display: none;
}
.menu__icon{
    height: 15rem;
    width: 15rem; 
    
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    justify-self: center; 
    align-self: flex-end;
    border-radius: 100%;
    padding: 0  0  0 50vw;
}

.div__a-next-screen{
    width:15rem;
    height:15rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center; 
    border-radius:100%;
}
.a__img-next-screen{
    width: 15rem;
    height: 15rem;
    justify-self: flex-end;
    align-self: flex-end;
    background: var(--nav-button-color);
    border: 0.75rem solid var(--nav-button-color);
    opacity: 55%;
    transition: 750ms;
    border-radius: 100%;
}
.a__img-next-screen:hover{
    transition: 750ms;
    transform: scale(1.2, 1.2, 1.2);
    background: var(--nav-button-color);
    border: 0.75rem solid var(--nav-button-color);
    opacity: 95%;
    border-radius:100%;
    border: 0.5rem solid var(--nav-text-color);
    background: var(--nav-text-color);
}
.a__img-next-screen:active{
    transform: translateY(1.5rem);
    transition: 100ms;
}


/* Call-To-Action Section Styling */
.action-call {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: var(--background-color-action);
    height: 100vh;
    color: var(--nav-text-color);
}
.action-call__h1 {
    font-size: 5.5rem;
    font-weight: 700;
    text-align: center;
    width: 70rem;
    padding: 3.5rem 0;
    background: var(--background-color-action);
    color: var(--nav-text-color);
    
}
.action-call__a {
    font-size: 5rem;
    font-weight: bolder;
    background: var(--complementary-color);
    text-decoration: none;
    color: var(--nav-text-color);
    padding: 3rem;
    margin: 0 0 1rem 0;
    width: 30rem;
    text-align: center;
    align-self: flex-end;
    transition: 750ms;
    border: 0.5rem var(--nav-text-color) solid;
    
}
.action-call__a:hover{
    transition: 750ms;
    padding: 5.5% 66.5% 5.5% 32%;
    margin: 0;
    text-align:left;
    text-align:center;
    transform: translateY(1rem);
    background: var(--complementary-color-shade);
    border: 0.8rem solid var(--complementary-color);
    font-size: 8.5rem;
    font-weight: bolder;
    border-radius: 0 0 0.5em 0.5em;
}
.action-call__background-img{
    display:flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    background-image: url("http://placekitten.com/400/300");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 90vw;
    height: 50%;
    margin: 0 0 5rem 0;
    padding: 0 0 0.5rem 0;
    border-radius: 5em 5em;
}

.action-call__p{
    font-size: 4.5rem;
    text-align: center;
    margin: var(--standard-margin);
    padding: 3rem 2.5rem 5rem 2.5rem;
    width: 90rem;
    height: 40rem;
    align-self: center;
    background: var(--nav-text-color);
    color: var(--bold-accent-text);
    font-weight:bolder;
}

.action-call__icon{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: center;
    /* padding: 5rem 0 0rem 0; */
    height:25rem;
    width:15rem;
}
.div__a-next-screen-green{
    height:15rem;
    width:15rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.icon__img-green{
    height:15rem;
    width:15rem;
    align-self: flex-end;
    background: var(--background-color-action);
    border: 0.75rem solid var(--background-color-action);
    border-radius:100%;
    opacity: 65%;
    transition: 750ms;
}
.icon__img-green:hover{
    transition: 750ms;
    transform: scale3d(1.1, 1.1, 1.1);
    transform: translateY(-1.5rem);
    opacity: 95%;
    align-self: flex-end;
    border-radius: 100%;
    border:0.5rem solid var(--nav-text-color);
    background: var(--nav-text-color);
}
.icon__img-green:active{
    transform: translateY(1.5rem);
    transition: 100ms;
}

/* About Section Styling */

.about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--primary-color);
    height:100vh;
    width:100%;
    /* margin: rem 0rem; */
}
.about-section__h2{
    font-size:6.5rem;
    font-weight: bold;
    text-align:center;
    align-self: center;
    padding: 2.5rem;
    margin: var(--standard-margin);
    color: var(--action-button-color);
    width: 60rem;
}
.about-section__p{
    font-size:5rem;
    align-self: center;
    text-align: center;
    margin: var(--standard-margin);
    padding: 2rem 2rem 5rem 2rem;
    color: var(--action-button-color);
    background: var(--nav-button-color);
    border-radius: 56px;
    background: #edf1e4;
    box-shadow: inset -19px -19px 7px #b4b7ad, 
                inset 19px 19px 7px #ffffff;  
    width: 80rem;
}
.about-section__img{
    width:60vw;
    height:17.5vh;
    margin: var(--standard-margin);
}
.about__img-1{
    align-self: flex-start;
}
.about__img-2{
    align-self: flex-end;
}

.section__icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: var(--primary-color);
    height: 15rem;
    width: 15rem;
}
.div__a-to-preview{
    align-self:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
    
}
.a__img-to-preview{
    align-self: center;
    justify-self: center;
    background: var(--primary-color);
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
    transition: 750ms;
    opacity: 55%;
}
.a__img-to-preview:hover{
    transition: 750ms;
    opacity: 95%;
    border: 0.5rem solid var(--nav-text-color);
    background: var(--nav-text-color);
    transform: scale(1.2, 1.2, 1.2);
    transform: translateY(-1.5rem);
}
.a__img-to-preview:active{
    transition: 25ms;
    transform: translateY(1.5rem);
}

/* Preview Section Styling */
.preview-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    height: 100vh;
}
.preview-section__h2{
    font-size:7.5rem;
    margin: var(--standard-margin);
}
.preview-section__flexbox-div{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem;
    align-self: flex-end;
    width:95vw;
    height:35vh;
}
.flexbox-div__img{
    height: 35rem;
    width: 35rem;
}
.flexbox-div--even{
    flex-direction: row-reverse;
    align-self: flex-start;
    margin: 1.5rem 1.5rem 1.5rem 0;
}
.flexbox-div--last{
    justify-self: flex-end;
    width:100%;
    height:16rem;
}
.flexbox-div__img--last{
    justify-self: stretch;
    align-self: flex-start;
    width:100%;
    height: 16rem;
    margin: 0 0 3rem 0;
}
.flexbox-div__p{
    text-align: center;
    font-size:3.0rem;
    margin: 0 0 0 1.5rem;
    height: 15rem;
    width: 40rem;
}
.flexbox-div--even__p{
    font-weight: bolder;
}

/* Testimonials Section Styling */

.testimonial-section{
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    height: 95vh;
    width: 100%;
}
.testimonial-section__h2{
    font-size:8.5rem;
    align-self: center;
    margin: var(--standard-margin);
}
.testimonial-section__div{
    align-self: center;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin: var(--standard-margin);
    align-items: flex-start;
    
    justify-content: space-between;
    width: 100%;
    height: 90vh;
}
.div__flexbox-content{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-between;
    width: 50rem;
}
.div__flexbox-odd{
    align-self: flex-end;
    /* width:100%; */
}
.flexbox-content__img{
    margin: 1rem 1rem 3.0rem 1rem;
    width:45rem;
    height:22rem;
}
.flexbox-content__p{
    text-align: justify;
    text-justify: newspaper;
    font-size: 3.4rem;
    padding: 1.5rem;
    width: 50rem;
}

.div__div-icon{
    align-self:center;
    justify-self: flex-end;
    width:15rem;
    border-radius: 100%;
}
.div__a-to-top{
    width:15rem;
    height:15rem;
    border-radius: 100%;
}
.a-to-top__img{
    width:15rem;
    height:15rem;
    opacity:55%;
    transition: 750ms;
    border-radius: 100%;
}
.a-to-top__img:hover{
    transition: 750ms;
    opacity: 95%;
    transform: scale(1.2, 1.2, 1.2);
    background: var(--nav-text-color);
    border: 0.5rem var(--nav-text-color) solid;
}
.a-to-top__img:active{
    transition: 100ms;
    transform: translateY(1.5rem);
}

/* Footer Section Styling */
.footer{
    background: var(--nav-button-color);
    height: 5vh;
    width: 100%;
}
.footer__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-menu__item{
    font-size: 5.5rem;
    text-decoration: none;
    background: var(--nav-button-color);
    color: var(--nav-text-color);
    padding: 0.75rem;
}