/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 1px lightgrey solid;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
/* Meyer Reset, and other imported code ends here */

:root{
    --action-button-color: #E81B23;
    --complementary-color: #4AC6D7;
    --complementary-color-shade: #68BBB8;
    --nav-button-color: #FFFFFF;
    --nav-text-color: black;
    --bold-accent-text: #FFD95C;
    --primary-color: #ffffff;
    --standard-margin: 0 0 1.5rem 0;
    --background-color-action: #FFFFFF;
    --accent-box-color: rgba(136, 236, 240, 0.08);
}

/* FONTS:
Porter Sans Block
Princess Sofia
Poppins

font-family: 'Princess Sofia', cursive;

COLORS:
MARILYN IN CRIMSON - #E81B23
ROADTRIP - #4AC6D7
SODA FOUNTAIN - #68BBB8
LEMON MERINGUE - #FFD95C
MOTEL SUNSET - #F5855B
POODLE SKIRT - #FF91BB
WHITE - #FFFFFF */


/* Universal Styling */

@font-face {
    font-family: Poppins;
    src: url(../fonts/poppins/Poppins-Regular.ttf);
  }

@font-face {
    font-family:  porterSansblack;
    src: url(../fonts/porter_sans_black/porter-sans-inline-block-webfont.ttf);
}
@font-face {
    font-family: princessSofia;
    src: url(../fonts/Sofia/PrincessSofia-Regular.ttf);
}
* {
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /* 62.5% font-size initialized for rem units */
    scroll-behavior: smooth;
}
.body{
    width: 100vw;
    max-width: 25px;
}
.body__div{
    background:var(--primary-color);
    width: 95vw;
    /* max-width: */
    height: auto;
    margin: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.container__div-to-the-top{
    background-color: var(--nav-button-color);
    display: none;
}
#top-of-page{
    background: var(--nav-button-color);
}
/* Header Styling */
.header {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    background: var(--nav-button-color);
    width: 100%;
    height: 100vh;
}
.header__logo-div{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.header__logo{
    display: inline-block;
    align-self: flex-start;
    width: 100%;
    height: auto;
    background: var(--complementary-color);
}
.header__h1{
    color: var(--bold-accent-text);
    padding: 0 0 0 5rem;
    font-size: 8.5rem;
    font-weight: bolder;
}

.header__nav{
    align-self: flex-start; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width:100%;
}
.menu__div{
    font-size: 5rem;
    font-weight: 900;
    color: var(--action-button-color);
}
.menu__div-1{
    justify-self:center 
    
}
.menu__div-2{
    align-self: center;
}
.menu__div-3{
    justify-self: flex-end;
    
}
.header-menu__a{
    size: 100%;
    text-decoration: none;
    color: var(--complementary-color);
}
.header-menu__item{
    display: none;
    background: var(--action-button-color);
    font-size:6rem;
    text-decoration: none;
    text-align: center;
    color: var(--nav-text-color);
    border: 0.075em var(--nav-text-color) solid;
    align-self: flex-end; 
    justify-self:flex-end;
}
.header-menu__item-even{
    align-self:center; 
    justify-self: center;
}
.header-menu__contact{
    align-self:flex-start; 
}
.header__nav-text--hidden{
    display: none;
}
.header-menu__register{
    display:none;
}
.menu__item-hidden{
    display: none;
}

.header-menu__icon{
    width: 23rem;
    height: 23rem;
}
.header-menu__item:hover{
    transition: 750ms;
    background: var(--complementary-color);
}
.menu__icon-register{
    display: none;
}
.menu__icon{
    height: 85px;
    width: 85px; 
    
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    justify-self: center; 
    align-self: flex-end;
    border-radius: 100%;
    padding: 0  49%  0 50%;
}

.div__a-next-screen{
    width:85px;
    height:85px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center; 
    border-radius:100%;
}
.a__img-next-screen{
    width: 100px;
    height: 100px;
    justify-self: flex-end;
    align-self: flex-end;
    background: var(--nav-button-color);
    border: 0.75rem solid var(--nav-button-color);
    opacity: 55%;
    transition: 750ms;
    border-radius: 100%;
}
.a__img-next-screen:hover{
    transition: 750ms;
    transform: scale(1.2, 1.2, 1.2);
    background: var(--complementary-color-shade);
    border: 0.75rem solid var(--complementary-color-shade);
    opacity: 95%;
    border-radius:100%;
}
.a__img-next-screen:active{
    transform: translateY(1.5rem);
    transition: 100ms;
}


/* Call-To-Action Section Styling */
.action-call {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: var(--background-color-action);
    height: 100vh;
    color: var(--nav-text-color);
}
.action-call__h1 {
    display: inline-block;
    font-size: 6rem;
    font-weight: 400;
    font-family: poppins;
    text-align: center;
    width: 100%;
    padding: 3.5rem 0;
    margin: 0 0 5rem 0;
    background: var(--complementary-color);
    color: var(--background-color-action);
    
}
.action-call__a {
    font-size: 5rem;
    font-weight: bolder;
    font-family: poppins;
    background: var(--complementary-color);
    text-decoration: none;
    color: var(--background-color-action);
    padding: 3rem;
    margin: 5rem 0 1rem 0;
    width: 30%;
    text-align: center;
    align-self: center;
    transition: 750ms;
    border: 0.5rem var(--bold-accent-text) solid;
    
}
.action-call__a:hover{
    transition: all 750ms ease;
    text-align:center;
    padding: 5.5% 66.5% 5.5% 32%; 
    margin: 0;
    transform: translateY(1rem);
    background: var(--complementary-color-shade);
    border: 0.8rem solid var(--bold-accent-text);
    font-size: 8.5rem;
    font-weight: bolder;
    border-radius: 0 0 0.5em 0.5em;
}
.action-call__background-img{
    display:flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    background-image: url("../assets/cuttingboard.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 90vw;
    height: 70%;
    margin: 0 0 5rem 0;
    padding: 0 0 0.5rem 0;
    border-radius: 5em 5em;
}

.action-call__p{
    font-size: 4rem;
    font-family: poppins;
    text-align: center;
    margin: var(--standard-margin);
    padding: 3rem 1rem 3rem 1rem;
    width: 60%;
    height: fit-content;
    align-self: center;
    /* border: 0.5rem rgba(136, 236, 240, 0.486) solid; */
    background: rgba(136, 236, 240, 0.08);
    color: var(--nav-text-color);
    font-weight:bold;
}

.action-call__icon{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: center;
    /* padding: 5rem 0 0rem 0; */
    height:25rem;
    width:10rem;
}
.div__a-next-screen-green{
    height:10rem;
    width:10rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.icon__img-green{
    height:10rem;
    width:10rem;
    align-self: flex-end;
    background: var(--primary-color);
    border: 0.75rem solid var(--nav-button-color);
    border-radius:100%;
    opacity: 65%;
    transition: 750ms;
}
.icon__img-green:hover{
    transition: 750ms;
    transform: scale3d(1.1, 1.1, 1.1);
    transform: translateY(-1.5rem);
    opacity: 95%;
    align-self: flex-end;
    border-radius: 100%;
    border:0.5rem solid var(--complementary-color-shade);
    background: var(--complementary-color-shade);
}
.icon__img-green:active{
    transform: translateY(1.5rem);
    transition: 100ms;
}

/* About Section Styling */

.about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--primary-color);
    height:100vh;
    width:100%;
    /* margin: rem 0rem; */
}
.about-section__h2{
    font-family: princessSofia;
    font-size:6rem;
    font-weight: 700;
    text-shadow: 2px 2px var(--complementary-color-shade);
    text-align:center;
    align-self: center;
    padding: 1rem;
    margin: var(--standard-margin);
    color: var(--complementary-color);
    background: var(--bold-accent-text);
    width: 100%;
}
.about-section__p{
    font-size: 3rem;
    font-family: poppins;
    font-weight: bold;
    align-self: center;
    text-align: center;
    margin: var(--standard-margin);
    padding: 1rem;
    color: white;
    background: var(--complementary-color);
    border: 0.7rem var(--complementary-color-shade) solid;
    border-radius: 50px;
    /* box-shadow: inset -19px -19px 7px #b4b7ad, 
                inset 19px 19px 7px #ffffff;   */
    width: 60%;
    height: auto;
}
.about-section__p-warning{
    font-size: 3rem;
    font-family: poppins;
    font-weight: 700;
    color: white;
    background: var(--complementary-color);
    border: 0.7rem var(--complementary-color-shade) solid;
    border-radius: 50px;
    align-self: center;
    text-align: center;
    width: 50%;
    padding: 1rem;
    margin: var(--standard-margin);
    
}
span {
    font-style: italic;
}
.about-section__img{
    width:50vw;
    height:20%;
    margin: var(--standard-margin);
}
.about__img-1{
    align-self: flex-start;
}
.about__img-2{
    align-self: flex-end;
}

.section__icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: var(--primary-color);
    height: 85px;
    width: 85px;
}
.div__a-to-preview{
    align-self:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 85px;
    border-radius: 100%;
    
}
.a__img-to-preview{
    align-self: center;
    justify-self: center;
    background: var(--nav-button-color);
    height: 85px;
    width: 85px;
    border-radius: 100%;
    transition: 750ms;
    opacity: 55%;
}
.a__img-to-preview:hover{
    transition: 750ms;
    opacity: 95%;
    border: 0.5rem solid var(--bold-accent-text);
    background: var(--bold-accent-text);
    transform: scale(1.2, 1.2, 1.2);
    transform: translateY(-1.5rem);
}
.a__img-to-preview:active{
    transition: 25ms;
    transform: translateY(1.5rem);
}

/* Preview Section Styling */
.preview-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: poppins;
    font-size: 3rem;
    background: var(--primary-color);
    height: 100vh;
    width:100%;
}
.preview-section__h2{
    font-family: porterSansBlack;
    font-size: 6.5rem;
    color: var(--bold-accent-text);
    text-align: center;
    padding: auto;
    height: fit-content;
    width: 100%;
    margin: var(--standard-margin);
    background-color: var(--complementary-color);
}
.preview-section__flexbox-div{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem;
    align-self: flex-end;
    width:95%;
    height:fit-content;
}
.fa-4x{
    height: 100%;
    width: auto;
    color: var(--complementary-color);
}
.flexbox-div--even{
    flex-direction: row-reverse;
    align-self: flex-start;
    margin: 1.5rem 1.5rem 1.5rem 0;
}
.flexbox-div--last{
    justify-self: flex-end;
    align-self: flex-end;
    width:100%;
    height:12%;
    margin-top: 10rem;
}
.flexbox-div__img--last{
    align-self: flex-end;
    width: 95%;
    height: 100%;
    /* margin: 0 0 3rem 0; */
    object-fit: cover;
    object-position: 80% 80%;
}
.flexbox-div__p{
    text-align: center;
    font-size:3.0rem;
    margin: 0 0 0 1.5rem;
    height: 15rem;
    width: 50%;
    font-weight: bolder;
}
/* Testimonials Section Styling */

.testimonial-section{
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    height: 93vh;
    width: 100%;
    font-family: poppins;
}
.testimonial-section__h2{
    font-size: 7rem;
    font-weight: bolder;
    text-align: center;
    align-self: center;
    margin: 0rem 0rem 6rem 0rem;
    height: fit-content;
    width: 100%;
    background: var(--complementary-color);
    color: white;
}
.testimonial-section__div{
    align-self: center;
    flex-grow: 1;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin: var(--standard-margin);
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 95%;
}
.div__flexbox-content{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content:center;
    height: fit-content;
    width: 60%;
    height: 30%
}
.div__flexbox-odd{
  align-self: flex-end;
}
.div__flexbox-even{
    align-self: flex-start;
}
.flexbox-content__img{
    /* margin: 1rem 1rem 3.0rem 1rem; */
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.flexbox-content__p{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.5rem;
    width: 50%;
}




/* Footer Section Styling */
.footer{
    background: var(--complementary-color-shade);
    width: 100%;
    height: fit-content;
}
.footer__nav{
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer__nav-mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav__div{
    font-size: 3.4rem;
}
.nav__a-icon{
    color:var(--bold-accent-text);
}
.footer-menu__item{
    display: inline-block;
    font-size: 3.4rem;
    text-decoration: none;
    background: var(--nav-button-color);
    color: var(--nav-text-color);
    padding: 0.75rem;
}
.nav__div-icon{
    align-self:center;
    justify-self: flex-end;
    width: 85px;
    height: fit-content;
    border-radius: 100%;
}
.icon-img{
    width:110px;
    height:95px;
    padding-top:1rem;
}
.div__a-to-top{
    width:100%;
    height:85px;
    border-radius: 100%;
}
.a-to-top__img{
    width:85px;
    height:85px;
    opacity:55%;
    transition: 750ms;
    border-radius: 100%;
    background: var(--complementary-color-shade);
}
.a-to-top__img:hover{
    transition: 750ms;
    opacity: 95%;
    transform: scale(1.2, 1.2, 1.2);
    background: var(--nav-button-color);
    border: 0.5rem var(--nav-button-color) solid;
}
.a-to-top__img:active{
    transition: 100ms;
    transform: translateY(1.5rem);
}